body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #ffffff;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features {
  padding-top: 94px;
}

.container-btn {
  margin-bottom: 50px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
}
header {
/* padding-bottom: 25px; */
/* padding-top: 25px; */
align-items: center;
border-bottom: 1px solid #ECECEC;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-flex{
  display: flex;
  align-items: center;
  
}
.nav-flex {
  display: flex;
  align-items: center;
}

.nav-link-flex{
    display: flex;
    flex-direction: row;
    /* margin-top: 32px; */
    /* margin-right: 331px; */
}



.mail-tel-flex{
      display: flex;
      flex-direction: row;
      /* margin-top: 32px; */
      margin-left: auto;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: black;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 94px;

}

.logo-word {
  color: #2196f3;
}


.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.nav-link .nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: #2196f3;
}


.nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px ;
  background-color:#2196f3;
  opacity: 0 ;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after{
  opacity: 1;
}



.nav-link:last-child {
  margin-right: 0px;
}


.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.mail-tel-link {
margin-right: 30px;
}
.mail-tel-root {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mail-tel-root:last-child {
  margin-right: 0px;
}

.mail-tel-root:hover,
.mail-tel-root:focus {
  color: #2196f3;
}

.hero {
  /* background-color: #2f303a; */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.design-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  
}

.button-name {
  font-family: Roboto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: 0;
}

.button-name:focus {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-flex{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.work-flex-item {
  margin-right: 30px;
}
.work-title {
  width: 270px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px;
}

.work-text {
  width: 270px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 30px;

}


.work-team-item {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}
.work-flex .work-flex-item {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.work-foto-item{
  margin-right: 30px ;
  position: relative;
  width: 370px;
}
.item-foto:last-child{
  margin-right: 0px;
}
.item-foto-text{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0px;
  padding: 27px 0px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

}


.section-our-team{

  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;

}

.our-team-item{
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-item{
  margin-right: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.work-team-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  }

.work-position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px 0px 16px 0px;
  }

  .work-box {
  padding: 30px 0px 30px 0px;
  }
.section-ftr {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-word-ftr {
  color: #ffffff;
}

address {
  font-style: normal;
}

.address-item{
  padding-left: 0px;
  margin-top: 20px;
}
.ftr-nav-link {
  margin-bottom: 9px;
}

.address-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover {
  color: #2196f3;
}

.mail-tel-ftr {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-hdr{
border-bottom: 1px solid #ECECEC;
}


.button-flex{
  display: flex;
  justify-content: center;

}
.btn-item {
  margin-right: 8px;  
}

.list-button-name {
  font-family: Roboto;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;

}

.list-button-name:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button-name:focus {
  color: #2196f3;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  /* justify-content: space-between; */
  }

.projects-item{
  /* border: 1px solid #EEEEEE; */
  margin: 0px 30px 30px 0px;
  
}

.projects-flex .projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-last-child(-n+3) {
margin-bottom: 0;
}


.projects-item:nth-child(3n){
  margin-right: 0px;
}

.project-explanation {
  padding: 20px 24px ;
  border: 1px solid #EEEEEE;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.projects-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 0px 4px 0px;
}

.projects-type {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}



/* SVG-icons */
.icon-envelope, .icon-smartphone {
fill: currentColor;
margin-right: 10px;
}
/* .icon-envelope:hover, .icon-smartphone:hover {
fill: #2196f3;
} */

.section-features-sm {
width: 270px;
height: 120px;
background-color: #F5F4FA;
box-sizing: border-box;
border-radius: 4px;
margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.features-sm-item {
  width: 70px;
  height: 70px;
}

.socials {
display: flex;
align-items: center;
justify-content: center;

}
.icon-social {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #AFB1B8;
  background-color: #FFFFFF
  
  
}
.icon-social:hover {
  color: #FFFFFF;
  background-color: #2196f3;
}

.socials-flex {
margin-right: 10px;
}
.content-sm {
fill: currentColor;
}
.content-sm:hover {
fill: #FFFFFF;
}


.company-box {
display: flex;
}
.company-box .icons:not(:first-child) {
margin-left: 30px;
}
.icon-logo {
fill: currentColor;
}
/* .icon-logo:hover {
fill: #2196f3;
} */
.logo-border {
height: 90px;
width: 170px;
color: #afb1b8;
border: 1px solid;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.logo-border:hover {
color: #2196f3;
}
.info-box {
  margin-right: 70px;
}
.footer-box {
display: flex;
align-items: baseline;
padding-top: 48px;
padding-bottom: 28px;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.subscribe {
display: block;
margin-bottom: 21px;
color: #FFFFFF;
font-weight: 700;  
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.join-box .icon-social {
color: #FFFFFF;
background-color: rgba(255, 255, 255, 0.1);
}

.join-box .icon-social:hover,
.join-box .icon-social:focus {
background-color: #2196f3;
}

/* Modal wd */

.img-box{
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  text-align:left;
  margin: 0px;
  padding: 63px 24px;
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.projects-flex li:hover{
  box-shadow: 
  0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
  
  .projects-item:hover .text-overlay{
  transform: translateY(0);
  }
  

  /* Modal window  */
  .backdrop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .backdrop.is-hidden{
    opacity:0;
    pointer-events: none;
  }
  
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px ;
    height: 521px ;
    background-color: #FFFFFF;
    border-radius: 4px;
    
  }
  
  .close-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: 1 px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    
  }
  
  .icon-close{
    width: 11px;
    height: 11px;
    display: block;
  }