@import './utils/variables';
@import './utils/general';
@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/hero';
@import './components/features';
@import './components/works';
@import './components/team';
@import './components/companyes';
@import './components/footer';
@import './components/subscribe';
@import './components/subform';
@import './components/modal';
@import './components/project'