.section-features {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 1200px ) {
        padding-top: 94px;
        padding-bottom: 0;
    }
    & .work-flex {
        @media (min-width: 768px) and (max-width: 1200px){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            & li {
                width: 354px;
            }
        }
    }
}
.features-list {
    @media (min-width: 1200px) {
    max-width: 270px;
}
}
.features-box {
    
    height: 120px;
    background-color: #F5F4FA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        max-width: 354px;
    }
    @media (min-width: 1200px) {
        width: 270px;
    }
}
.features-box__item {
    width: 70px;
    height: 70px;
}
.features-box__title {
    
    color: $primary-color;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}
.features-box__text {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0px;
    
    @media (min-width: 1200px) {
        width: 270px;
        margin-right: 30px;
    }
}