.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero__title {
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}
.hero__button {
    font-family: Roboto;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $white-color;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    border: 0;
        &:focus {
            color: $white-color;
        }
}
