.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: black;
    text-decoration: none;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-right: 94px;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 26px;
        line-height: 1.17;
    }
}
.logo-word {
    color: $accent-color;
}