.button-flex{
    display: flex;
    justify-content: center;
}
.button-flex__item {
    margin-right: 8px;  
}
.button-flex__name {
    font-family: Roboto;
    color: $primary-color;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.projects-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    & .projects-item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    & li:hover{
        box-shadow: 
        0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        }
}
.projects-item{
    margin: 0px 30px 30px 0px;
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
        }
    &:nth-child(3n){
        margin-right: 0px;
    }
    &:hover .text-overlay{
        transform: translateY(0);
        }
}
.project-explanation {
    padding: 20px 24px ;
    border: 1px solid #EEEEEE;
}
.projects-name {
    color: $primary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px 0px 4px 0px;
}
.projects-type {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin: 0;
}
.img-box{
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}
.text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white-color;
    background-color: rgba(33, 150, 243, 0.9);
    text-align:left;
    margin: 0px;
    padding: 63px 24px;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}